@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Parisienne&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
  background-image: url("https://wallpaperset.com/w/full/e/e/1/491384.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}

button, input {
  margin: 1%;
}


#card-size{
  width: 100%;
}

#card-size2{
  width: 100%;
}

#boutique{
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
  letter-spacing: 2px;
  display: flex;
}

#boutiquee{
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
  letter-spacing: 2px;
}

nav {
  text-align: left;
  background-color: white;
}

#logo {
  width: 40%;
  height: 200px;
  object-fit: cover;
}

.logo {
  display: flex;
  border-bottom: 4px solid rgb(251, 146, 150);
}
#align{
  display: flex;
}
.menu-list {
  list-style: none;
  position: absolute;
  right: 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
}

.menu{
  margin-right: 1rem;
}

li:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 0.1em;
  background: rgb(251, 146, 150);
  transition: 0.7s ease-in-out;
}

li:hover:after{
  width:90%;
}


#animation:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 0.1em;
  background: rgb(251, 146, 150);
  transition: 0.7s ease-in-out;
}

#animation:hover:after{
  width:100%;
}


#bt1, #bt2, #bt3, #bt4, #bt5, #bt6, #bt7, #bt8, #bt9, #bt10, #bt11, #bt12, #bt13, #bt14, #bt15{
  transform: translate(0);
  overflow: hidden;
  cursor:pointer;
}

#bt1::before, #bt2::before, #bt3::before, #bt4::before, #bt5::before, #bt6::before, #bt7::before, #bt8::before, #bt9::before, #bt10::before, #bt11::before, #bt12::before, #bt13::before, #bt14::before, #bt15::before{
  content: "";
  position: absolute;
  background: rgb(251, 253, 251);
  width: 8px;
  top: 0;
  bottom: 0;
  left: -32px;
  transform: rotate(-16deg);
  filter: blur(6px);
}

#bt1:hover::before, #bt2:hover::before, #bt3:hover::before, #bt4:hover::before, #bt5:hover::before, #bt6:hover::before, #bt7:hover::before, #bt8:hover::before, #bt9:hover::before, #bt10:hover::before, #bt11:hover::before, #bt12:hover::before, #bt13:hover::before, #bt14:hover::before, #bt15:hover::before{
  left: calc(100% + 32px);
  transition: 0.8s ease-in-out;
}

.input{
  border: none;
  border-radius: 5px;
  background-color: rgb(241, 235, 226);
}

.label{
  letter-spacing: 2px;
}

h2{
  letter-spacing: 1px;
}

#bt3, #bt4{
  background-color:  rgb(251, 146, 150);
}

#h5{
  /* color: rgb(207, 203, 203); */
  font-weight: bold;
}

#p{
  color: rgb(163, 160, 160);
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  color: black;
}
.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: rgb(3, 2, 2);
  border: 1.1px solid rgb(24, 19, 19);
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

#footer{
  background-color: rgb(243, 216, 220);
}

@media only screen and (max-width: 600px){
  .menu-list{
    font-size: 0.8rem;
    flex-wrap: wrap;
  }

  #boutique{
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .containerr{
    height: 250px;
    margin-top: 60px;
  }

  footer {
    margin-top: 0px;
  }
  
  .login {
    margin-top: 20%;
  }

  .signUp{
    margin-top: 20%;
  }
  
}

footer {
  margin-top: 320px;
}